@{
    ViewData["Title"] = "Home Page";
}

<div id="game">
    <canvas id="gameCanvas" width="300" height="400">
        Testing HTML5 games
    </canvas>
</div>



<script src="~/js/createjs-2015.11.26.min.js"></script>
<script src="~/js/count-game-graphics.js"></script>
<script src="~/js/game.js"></script>